In [78]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly

In [41]:
df = pd.read_excel(r'D:/Semester 3/Digital Transformation of Organisation/df.xlsx')
df.head()

      week     wPreis           Plz                full       date
0  2020-37 -37.519318  ['25', '24']  A2 -  geschreddert 2020-09-14
1  2020-39 -40.000000  ['25', '24']  A2 -  geschreddert 2020-09-28
2  2020-41 -34.853543  ['25', '24']  A2 -  geschreddert 2020-10-12
3  2020-42 -27.560202  ['25', '24']  A2 -  geschreddert 2020-10-19
4  2020-43 -31.937780  ['25', '24']  A2 -  geschreddert 2020-10-26

In [79]:
len(df)

3379

In [80]:
df['Plz'].unique()

array(["['25', '24']", "['26', '27', '28']", "['20', '21', '22', '23']",
       "['29', '30', '31', '38', '39']",
       "['10', '11', '12', '13', '14', '15', '16']", "['48', '49']",
       "['1', '4', '6', '7', '8', '9']",
       "['40', '41', '42', '44', '45', '46', '47']",
       "['50', '51', '52', '53']",
       "['80', '81', '82', '83', '84', '85', '93', '94']"], dtype=object)

In [81]:
df['full'].unique()

array(['A2 -  geschreddert', 'A1 & A2 -  geschreddert',
       'A2 & A3 -  geschreddert', 'A3 -  geschreddert'], dtype=object)

In [82]:
TS1 = df[(df['Plz'] == "['25', '24']") & (df['full'] == 'A2 -  geschreddert')]
TS1.head()

      week     wPreis           Plz                full       date
0  2020-37 -37.519318  ['25', '24']  A2 -  geschreddert 2020-09-14
1  2020-39 -40.000000  ['25', '24']  A2 -  geschreddert 2020-09-28
2  2020-41 -34.853543  ['25', '24']  A2 -  geschreddert 2020-10-12
3  2020-42 -27.560202  ['25', '24']  A2 -  geschreddert 2020-10-19
4  2020-43 -31.937780  ['25', '24']  A2 -  geschreddert 2020-10-26

In [83]:
TS1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 154 entries, 0 to 153
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   week    154 non-null    object
 1   wPreis  154 non-null    float64
 2   Plz     154 non-null    object
 3   full    154 non-null    object
 4   date    154 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 7.2+ KB

In [84]:
TS2 = df[(df['Plz'] == "['20', '21', '22', '23']") & (df['full'] == 'A1 & A2 -  geschreddert')]
TS2.head()

,week,wPreis,Plz,full,date
929,2020-37,-33.575183,"['20', '21', '22', '23']",A1 & A2 - geschreddert,2020-09-14
930,2020-38,-30.469655,"['20', '21', '22', '23']",A1 & A2 - geschreddert,2020-09-21
931,2020-39,-31.289522,"['20', '21', '22', '23']",A1 & A2 - geschreddert,2020-09-28
932,2020-40,-30.616354,"['20', '21', '22', '23']",A1 & A2 - geschreddert,2020-10-05
933,2020-41,-31.291948,"['20', '21', '22', '23']",A1 & A2 - geschreddert,2020-10-12

In [85]:
TS2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 156 entries, 929 to 1084
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   week    156 non-null    object
 1   wPreis  156 non-null    float64
 2   Plz     156 non-null    object
 3   full    156 non-null    object
 4   date    156 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 7.3+ KB

In [88]:
TS3 = df[(df['Plz'] == "['48', '49']") & (df['full'] == 'A2 & A3 -  geschreddert')]
TS3.head()

         week     wPreis           Plz                     full       date
2004  2020-37 -29.244584  ['48', '49']  A2 & A3 -  geschreddert 2020-09-14
2005  2020-38 -27.878925  ['48', '49']  A2 & A3 -  geschreddert 2020-09-21
2006  2020-39 -25.077400  ['48', '49']  A2 & A3 -  geschreddert 2020-09-28
2007  2020-40 -25.663645  ['48', '49']  A2 & A3 -  geschreddert 2020-10-05
2008  2020-41 -24.004958  ['48', '49']  A2 & A3 -  geschreddert 2020-10-12

In [89]:
TS3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150 entries, 2004 to 2153
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   week    150 non-null    object
 1   wPreis  150 non-null    float64
 2   Plz     150 non-null    object
 3   full    150 non-null    object
 4   date    150 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 7.0+ KB

In [90]:
TS4 = df[(df['Plz'] == "['26', '27', '28']") & (df['full'] == 'A3 -  geschreddert')]
TS4.head()

        week     wPreis                 Plz                full       date
464  2020-37 -28.311162  ['26', '27', '28']  A3 -  geschreddert 2020-09-14
465  2020-38 -31.281060  ['26', '27', '28']  A3 -  geschreddert 2020-09-21
466  2020-39 -32.255530  ['26', '27', '28']  A3 -  geschreddert 2020-09-28
467  2020-40 -28.939862  ['26', '27', '28']  A3 -  geschreddert 2020-10-05
468  2020-41 -30.470931  ['26', '27', '28']  A3 -  geschreddert 2020-10-12

In [91]:
TS4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 153 entries, 464 to 616
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   week    153 non-null    object
 1   wPreis  153 non-null    float64
 2   Plz     153 non-null    object
 3   full    153 non-null    object
 4   date    153 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 7.2+ KB